<robot name="hr30_whole_body_p01">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.002698 0.004640 0.000487" rpy="0 0 0" />
      <mass value="1.753100" />
      <inertia ixx="0.002326509" ixy="0" ixz="0" iyy="0.004225701" iyz="0" izz="0.005120512" />
    </inertial>
    <visual>
      <origin xyz="-0.002698 0.004640 0.000487" rpy="0 0 0" />
      <geometry>
        <box size="0.155000 0.105000 0.070000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.002698 0.004640 0.000487" rpy="0 0 0" />
      <geometry>
        <box size="0.155000 0.105000 0.070000" />
      </geometry>
    </collision>
  </link>
  <link name="torso">
    <inertial>
      <origin xyz="-0.000782 0.001268 0.094050" rpy="0 0 0" />
      <mass value="0.861933" />
      <inertia ixx="0.002594776" ixy="0" ixz="0" iyy="0.004318641" iyz="0" izz="0.003462096" />
    </inertial>
    <visual>
      <origin xyz="-0.000782 0.001268 0.094050" rpy="0 0 0" />
      <geometry>
        <box size="0.190000 0.110000 0.155000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.000782 0.001268 0.094050" rpy="0 0 0" />
      <geometry>
        <box size="0.190000 0.110000 0.155000" />
      </geometry>
    </collision>
  </link>
  <link name="neck_pan_link">
    <inertial>
      <origin xyz="-0.001286 -0.000001 -0.023440" rpy="0 0 0" />
      <mass value="0.123901" />
      <inertia ixx="0.000064841" ixy="0" ixz="0" iyy="0.000064841" iyz="0" izz="0.000060216" />
    </inertial>
    <visual>
      <origin xyz="-0.001286 -0.000001 -0.023440" rpy="0 0 0" />
      <geometry>
        <box size="0.054000 0.054000 0.058000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.001286 -0.000001 -0.023440" rpy="0 0 0" />
      <geometry>
        <box size="0.054000 0.054000 0.058000" />
      </geometry>
    </collision>
  </link>
  <link name="head">
    <inertial>
      <origin xyz="-0.002016 -0.011007 0.012140" rpy="0 0 0" />
      <mass value="0.452586" />
      <inertia ixx="0.000929460" ixy="0" ixz="0" iyy="0.001321701" iyz="0" izz="0.001304956" />
    </inertial>
    <visual>
      <origin xyz="-0.002016 -0.011007 0.012140" rpy="0 0 0" />
      <geometry>
        <box size="0.150000 0.110000 0.112000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.002016 -0.011007 0.012140" rpy="0 0 0" />
      <geometry>
        <box size="0.150000 0.110000 0.112000" />
      </geometry>
    </collision>
  </link>
  <link name="L_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.000413 0.024619 -0.009113" rpy="0 0 0" />
      <mass value="0.272121" />
      <inertia ixx="0.000193841" ixy="0" ixz="0" iyy="0.000112567" iyz="0" izz="0.000153839" />
    </inertial>
    <visual>
      <origin xyz="0.000413 0.024619 -0.009113" rpy="0 0 0" />
      <geometry>
        <box size="0.040000 0.072000 0.058000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000413 0.024619 -0.009113" rpy="0 0 0" />
      <geometry>
        <box size="0.040000 0.072000 0.058000" />
      </geometry>
    </collision>
  </link>
  <link name="L_upper_arm">
    <inertial>
      <origin xyz="0.004455 0.000202 -0.083072" rpy="0 0 0" />
      <mass value="0.557743" />
      <inertia ixx="0.001171445" ixy="0" ixz="0" iyy="0.001171445" iyz="0" izz="0.000251356" />
    </inertial>
    <visual>
      <origin xyz="0.004455 0.000202 -0.083072" rpy="0 0 0" />
      <geometry>
        <box size="0.052000 0.052000 0.150000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.004455 0.000202 -0.083072" rpy="0 0 0" />
      <geometry>
        <box size="0.052000 0.052000 0.150000" />
      </geometry>
    </collision>
  </link>
  <link name="L_forearm">
    <inertial>
      <origin xyz="0.008016 0.000000 -0.093153" rpy="0 0 0" />
      <mass value="0.196659" />
      <inertia ixx="0.000385534" ixy="0" ixz="0" iyy="0.000385534" iyz="0" izz="0.000081941" />
    </inertial>
    <visual>
      <origin xyz="0.008016 0.000000 -0.093153" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.050000 0.145000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.008016 0.000000 -0.093153" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.050000 0.145000" />
      </geometry>
    </collision>
  </link>
  <link name="L_hand">
    <inertial>
      <origin xyz="0.017323 -0.005759 -0.038180" rpy="0 0 0" />
      <mass value="0.057587" />
      <inertia ixx="0.000028141" ixy="0" ixz="0" iyy="0.000023995" iyz="0" izz="0.000028141" />
    </inertial>
    <visual>
      <origin xyz="0.017323 -0.005759 -0.038180" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.058000 0.050000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.017323 -0.005759 -0.038180" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.058000 0.050000" />
      </geometry>
    </collision>
  </link>
  <link name="L_gripper">
    <inertial>
      <origin xyz="0.000000 0.000000 -0.020000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.020000" rpy="0 0 0" />
      <geometry>
        <box size="0.044000 0.048000 0.046000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.020000" rpy="0 0 0" />
      <geometry>
        <box size="0.044000 0.048000 0.046000" />
      </geometry>
    </collision>
  </link>
  <link name="L_hip_yaw_link">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
    </collision>
  </link>
  <link name="L_hip_roll_link">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
    </collision>
  </link>
  <link name="L_thigh">
    <inertial>
      <origin xyz="-0.001318 0.000066 -0.065423" rpy="0 0 0" />
      <mass value="1.711317" />
      <inertia ixx="0.003618864" ixy="0" ixz="0" iyy="0.003576081" iyz="0" izz="0.001604645" />
    </inertial>
    <visual>
      <origin xyz="-0.001318 0.000066 -0.065423" rpy="0 0 0" />
      <geometry>
        <box size="0.074000 0.076000 0.140000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.001318 0.000066 -0.065423" rpy="0 0 0" />
      <geometry>
        <box size="0.074000 0.076000 0.140000" />
      </geometry>
    </collision>
  </link>
  <link name="L_shin">
    <inertial>
      <origin xyz="0.000123 0.000123 -0.136142" rpy="0 0 0" />
      <mass value="0.916987" />
      <inertia ixx="0.002002777" ixy="0" ixz="0" iyy="0.001959984" iyz="0" izz="0.000749484" />
    </inertial>
    <visual>
      <origin xyz="0.000123 0.000123 -0.136142" rpy="0 0 0" />
      <geometry>
        <box size="0.068000 0.072000 0.145000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000123 0.000123 -0.136142" rpy="0 0 0" />
      <geometry>
        <box size="0.068000 0.072000 0.145000" />
      </geometry>
    </collision>
  </link>
  <link name="L_ankle_pitch_link">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.066000 0.064000 0.052000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.066000 0.064000 0.052000" />
      </geometry>
    </collision>
  </link>
  <link name="L_foot">
    <inertial>
      <origin xyz="0.000000 0.018753 -0.025187" rpy="0 0 0" />
      <mass value="0.243626" />
      <inertia ixx="0.000451723" ixy="0" ixz="0" iyy="0.000189318" iyz="0" izz="0.000591300" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.018753 -0.025187" rpy="0 0 0" />
      <geometry>
        <box size="0.090000 0.145000 0.035000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.018753 -0.025187" rpy="0 0 0" />
      <geometry>
        <box size="0.090000 0.145000 0.035000" />
      </geometry>
    </collision>
  </link>
  <link name="R_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.000413 0.024619 -0.009113" rpy="0 0 0" />
      <mass value="0.272121" />
      <inertia ixx="0.000193841" ixy="0" ixz="0" iyy="0.000112567" iyz="0" izz="0.000153839" />
    </inertial>
    <visual>
      <origin xyz="0.000413 0.024619 -0.009113" rpy="0 0 0" />
      <geometry>
        <box size="0.040000 0.072000 0.058000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000413 0.024619 -0.009113" rpy="0 0 0" />
      <geometry>
        <box size="0.040000 0.072000 0.058000" />
      </geometry>
    </collision>
  </link>
  <link name="R_upper_arm">
    <inertial>
      <origin xyz="-0.002415 0.000202 -0.083072" rpy="0 0 0" />
      <mass value="0.557743" />
      <inertia ixx="0.001171445" ixy="0" ixz="0" iyy="0.001171445" iyz="0" izz="0.000251356" />
    </inertial>
    <visual>
      <origin xyz="-0.002415 0.000202 -0.083072" rpy="0 0 0" />
      <geometry>
        <box size="0.052000 0.052000 0.150000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.002415 0.000202 -0.083072" rpy="0 0 0" />
      <geometry>
        <box size="0.052000 0.052000 0.150000" />
      </geometry>
    </collision>
  </link>
  <link name="R_forearm">
    <inertial>
      <origin xyz="-0.017708 0.000000 -0.093153" rpy="0 0 0" />
      <mass value="0.196659" />
      <inertia ixx="0.000385534" ixy="0" ixz="0" iyy="0.000385534" iyz="0" izz="0.000081941" />
    </inertial>
    <visual>
      <origin xyz="-0.017708 0.000000 -0.093153" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.050000 0.145000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.017708 0.000000 -0.093153" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.050000 0.145000" />
      </geometry>
    </collision>
  </link>
  <link name="R_hand">
    <inertial>
      <origin xyz="-0.010455 -0.005759 -0.038180" rpy="0 0 0" />
      <mass value="0.057587" />
      <inertia ixx="0.000028141" ixy="0" ixz="0" iyy="0.000023995" iyz="0" izz="0.000028141" />
    </inertial>
    <visual>
      <origin xyz="-0.010455 -0.005759 -0.038180" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.058000 0.050000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.010455 -0.005759 -0.038180" rpy="0 0 0" />
      <geometry>
        <box size="0.050000 0.058000 0.050000" />
      </geometry>
    </collision>
  </link>
  <link name="R_gripper">
    <inertial>
      <origin xyz="0.000000 0.000000 -0.020000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 -0.020000" rpy="0 0 0" />
      <geometry>
        <box size="0.044000 0.048000 0.046000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 -0.020000" rpy="0 0 0" />
      <geometry>
        <box size="0.044000 0.048000 0.046000" />
      </geometry>
    </collision>
  </link>
  <link name="R_hip_yaw_link">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
    </collision>
  </link>
  <link name="R_hip_roll_link">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.060000 0.070000 0.040000" />
      </geometry>
    </collision>
  </link>
  <link name="R_thigh">
    <inertial>
      <origin xyz="-0.001318 0.000066 -0.065423" rpy="0 0 0" />
      <mass value="1.711317" />
      <inertia ixx="0.003618864" ixy="0" ixz="0" iyy="0.003576081" iyz="0" izz="0.001604645" />
    </inertial>
    <visual>
      <origin xyz="-0.001318 0.000066 -0.065423" rpy="0 0 0" />
      <geometry>
        <box size="0.074000 0.076000 0.140000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.001318 0.000066 -0.065423" rpy="0 0 0" />
      <geometry>
        <box size="0.074000 0.076000 0.140000" />
      </geometry>
    </collision>
  </link>
  <link name="R_shin">
    <inertial>
      <origin xyz="0.000123 0.000123 -0.136142" rpy="0 0 0" />
      <mass value="0.916987" />
      <inertia ixx="0.002002777" ixy="0" ixz="0" iyy="0.001959984" iyz="0" izz="0.000749484" />
    </inertial>
    <visual>
      <origin xyz="0.000123 0.000123 -0.136142" rpy="0 0 0" />
      <geometry>
        <box size="0.068000 0.072000 0.145000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000123 0.000123 -0.136142" rpy="0 0 0" />
      <geometry>
        <box size="0.068000 0.072000 0.145000" />
      </geometry>
    </collision>
  </link>
  <link name="R_ankle_pitch_link">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000000" ixy="0" ixz="0" iyy="0.000000000" iyz="0" izz="0.000000000" />
    </inertial>
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.066000 0.064000 0.052000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.066000 0.064000 0.052000" />
      </geometry>
    </collision>
  </link>
  <link name="R_foot">
    <inertial>
      <origin xyz="-0.000000 0.018753 -0.025187" rpy="0 0 0" />
      <mass value="0.243626" />
      <inertia ixx="0.000451723" ixy="0" ixz="0" iyy="0.000189318" iyz="0" izz="0.000591300" />
    </inertial>
    <visual>
      <origin xyz="-0.000000 0.018753 -0.025187" rpy="0 0 0" />
      <geometry>
        <box size="0.090000 0.145000 0.035000" />
      </geometry>
      <material name="button_sky">
        <color rgba="0.49 0.83 0.98 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.000000 0.018753 -0.025187" rpy="0 0 0" />
      <geometry>
        <box size="0.090000 0.145000 0.035000" />
      </geometry>
    </collision>
  </link>
  <joint name="WAIST_YAW" type="revolute">
    <parent link="base_link" />
    <child link="torso" />
    <origin xyz="0.000000 0.000000 0.035000" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.520000" upper="0.520000" effort="0.0" velocity="0.250000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="HEAD_PAN" type="revolute">
    <parent link="torso" />
    <child link="neck_pan_link" />
    <origin xyz="0.000000 0.000000 0.225000" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.400000" upper="1.400000" effort="0.0" velocity="1.000000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="HEAD_TILT" type="revolute">
    <parent link="neck_pan_link" />
    <child link="head" />
    <origin xyz="0.000000 0.000000 0.040000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.520000" upper="0.520000" effort="0.0" velocity="0.800000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_SHOULDER_PITCH" type="revolute">
    <parent link="torso" />
    <child link="L_shoulder_pitch_link" />
    <origin xyz="0.105000 0.000000 0.165000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-1.570000" upper="1.570000" effort="0.0" velocity="0.600000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_SHOULDER_ROLL" type="revolute">
    <parent link="L_shoulder_pitch_link" />
    <child link="L_upper_arm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.220000" upper="1.220000" effort="0.0" velocity="0.600000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_ELBOW_PITCH" type="revolute">
    <parent link="L_upper_arm" />
    <child link="L_forearm" />
    <origin xyz="0.020000 0.000000 -0.150000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="0.000000" upper="2.200000" effort="0.0" velocity="0.800000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_WRIST_ROTATION" type="revolute">
    <parent link="L_forearm" />
    <child link="L_hand" />
    <origin xyz="0.000000 0.000000 -0.145000" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.570000" upper="1.570000" effort="0.0" velocity="1.000000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_GRIPPER" type="prismatic">
    <parent link="L_hand" />
    <child link="L_gripper" />
    <origin xyz="0.000000 0.000000 -0.043000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="0.000000" upper="0.026000" effort="0.0" velocity="0.030000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_HIP_YAW" type="revolute">
    <parent link="base_link" />
    <child link="L_hip_yaw_link" />
    <origin xyz="0.062500 0.000000 0.007000" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.520000" upper="0.520000" effort="0.0" velocity="0.500000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_HIP_ROLL" type="revolute">
    <parent link="L_hip_yaw_link" />
    <child link="L_hip_roll_link" />
    <origin xyz="0.000000 0.000000 -0.009000" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.440000" upper="0.440000" effort="0.0" velocity="0.500000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_HIP_PITCH" type="revolute">
    <parent link="L_hip_roll_link" />
    <child link="L_thigh" />
    <origin xyz="0.000000 0.000000 -0.008000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.610000" upper="0.790000" effort="0.0" velocity="0.600000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_KNEE_PITCH" type="revolute">
    <parent link="L_thigh" />
    <child link="L_shin" />
    <origin xyz="0.000000 0.000000 -0.170000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="0.000000" upper="2.090000" effort="0.0" velocity="0.700000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_ANKLE_PITCH" type="revolute">
    <parent link="L_shin" />
    <child link="L_ankle_pitch_link" />
    <origin xyz="0.000000 0.000000 -0.165000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.610000" upper="0.520000" effort="0.0" velocity="0.700000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="L_ANKLE_ROLL" type="revolute">
    <parent link="L_ankle_pitch_link" />
    <child link="L_foot" />
    <origin xyz="0.000000 0.000000 -0.008000" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.350000" upper="0.350000" effort="0.0" velocity="0.700000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_SHOULDER_PITCH" type="revolute">
    <parent link="torso" />
    <child link="R_shoulder_pitch_link" />
    <origin xyz="-0.105000 0.000000 0.165000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-1.570000" upper="1.570000" effort="0.0" velocity="0.600000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_SHOULDER_ROLL" type="revolute">
    <parent link="R_shoulder_pitch_link" />
    <child link="R_upper_arm" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.220000" upper="1.220000" effort="0.0" velocity="0.600000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_ELBOW_PITCH" type="revolute">
    <parent link="R_upper_arm" />
    <child link="R_forearm" />
    <origin xyz="-0.020000 0.000000 -0.150000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="0.000000" upper="2.200000" effort="0.0" velocity="0.800000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_WRIST_ROTATION" type="revolute">
    <parent link="R_forearm" />
    <child link="R_hand" />
    <origin xyz="0.000000 0.000000 -0.145000" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-1.570000" upper="1.570000" effort="0.0" velocity="1.000000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_GRIPPER" type="prismatic">
    <parent link="R_hand" />
    <child link="R_gripper" />
    <origin xyz="0.000000 0.000000 -0.043000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="0.000000" upper="0.026000" effort="0.0" velocity="0.030000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_HIP_YAW" type="revolute">
    <parent link="base_link" />
    <child link="R_hip_yaw_link" />
    <origin xyz="-0.062500 0.000000 0.007000" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.520000" upper="0.520000" effort="0.0" velocity="0.500000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_HIP_ROLL" type="revolute">
    <parent link="R_hip_yaw_link" />
    <child link="R_hip_roll_link" />
    <origin xyz="0.000000 0.000000 -0.009000" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.440000" upper="0.440000" effort="0.0" velocity="0.500000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_HIP_PITCH" type="revolute">
    <parent link="R_hip_roll_link" />
    <child link="R_thigh" />
    <origin xyz="0.000000 0.000000 -0.008000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.610000" upper="0.790000" effort="0.0" velocity="0.600000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_KNEE_PITCH" type="revolute">
    <parent link="R_thigh" />
    <child link="R_shin" />
    <origin xyz="0.000000 0.000000 -0.170000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="0.000000" upper="2.090000" effort="0.0" velocity="0.700000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_ANKLE_PITCH" type="revolute">
    <parent link="R_shin" />
    <child link="R_ankle_pitch_link" />
    <origin xyz="0.000000 0.000000 -0.165000" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.610000" upper="0.520000" effort="0.0" velocity="0.700000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
  <joint name="R_ANKLE_ROLL" type="revolute">
    <parent link="R_ankle_pitch_link" />
    <child link="R_foot" />
    <origin xyz="0.000000 0.000000 -0.008000" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.350000" upper="0.350000" effort="0.0" velocity="0.700000" />
    <dynamics damping="0.1" friction="0.0" />
  </joint>
</robot>
